div.row-fluid
  div.span6
    div
      h3.navbar-inner Stops that are on this route
    table.table.table-hover
      tr
        th Stop Name
      tr(ng-Repeat=" stop in routeStopUnique | filter:dayButtons | startFrom:currentPage*pageSize | limitTo:pageSize") <!--  See if we can limit by trip headsign-->
        td 
          a(href='/#{name}/#{routeID}/{{stop.stop_id}}'){{stop.stop_name}}
    button.btn.btn-small(ng-show='routeStopUnique.length > 0', ng-disabled="currentPage == 0", ng-click="currentPage=currentPage-1") Previous
    span(ng-show='routeStopUnique.length > 0') &nbsp; {{currentPage+1}}/{{numberOfPages()}} &nbsp;
    button.btn.btn-small(ng-show='routeStopUnique.length > 0', ng-disabled="currentPage >= routeStopUnique.length/pageSize - 1", ng-click="currentPage=currentPage+1") Next
    
  div.span6
    form
      .btn-toolbar
        .btn-group(data-toggle="buttons-radio")
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Monday'" ) Mon
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Tuesday'")  Tue
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Wednesday'") Wed
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Thursday'") Thu
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Friday'") Fri
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Saturday'") Sat
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Sunday'") Sun
      label.select
        select(ng-show='routeStats',ng-model='tripSelect', ng-options="route[9] for route in routeStats | filter:dayButtons", ng-change='updateChart()').input-xlarge

    table.table.table-hover
      tr
        th Day of the week
        th Trip Sign
        th Length
        th Average Speed
        th Stop Spacing
        th Hours of Service/Span
        th Number of Trips
      tr(ng-repeat=" routeinfo in routeStats | filter:dayButtons | limitTo:5")
        td {{routeinfo[1]}}
        td {{routeinfo[9]}}
        td {{routeinfo[5]}}
        td {{routeinfo[4]}}
        td {{routeinfo[13]}}
        td {{routeinfo[11]}} / {{routeinfo[12]}}
        td {{routeinfo[6]}}

div.row-fluid
  div.span12
    h3.navbar-inner Distribution of Trips over time
    div#activeTripsChart
    <!--div.hc-scatter(items='activeTrip[1]', name = 'activeTrip[0]')-->
  d-Scat(items='activeTrip[1]', name='activeTrip[0]').span12