div.row-fluid
  div.span6
    form
      .btn-toolbar
        .btn-group(data-toggle="buttons-radio")
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Monday'" ) Mon
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Tuesday'")  Tue
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Wednesday'") Wed
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Thursday'") Thu
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Friday'") Fri
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Saturday'") Sat
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Sunday'") Sun
      
    table.table.table-hover
      tr
        th Day of the week
        th Number of trips
        th Number of routes
        th First arrival
        th Last arrival
      tr(ng-repeat=" stop in stopResults | filter:dayButtons")
        td {{stop[2]}}
        td {{stop[5]}}
        td {{stop[10]}}
        td {{stop[17]}}
        td {{stop[19]}}
  div.span6
    div()
      form
        label.select
          span Select Route
          select(ng-model='routeSelect', ng-options="route[3] for route in routeStopResultsAll ", ng-change='updateRouteInfo()') 
      table.table.table-hover
        tr
          th Route ID
          th Trips Serving Stop
          th First arrival
          th Last arrival
        tr(ng-repeat=" route in routeStopResultsAll | filter:routeSelect")
          td 
            a(href='/{{agency.name}}/route/{{route[3]}}'){{route[3]}}
          td {{route[6]}}
          td {{route[8]}}
          td {{route[10]}}
div.row-fluid
  div.span6
    div(ng-show="routeStats.length > 0")
      table.table.table-hover
        tr
          th Trip head sign
          th Average speed
          th Route length
          th Average headway
          th Std. Dev of headway
          th Hours of service
          th Service span
          th Stop spacing
        tr(ng-repeat='route in routeStats')
          td {{route[9]}}
          td {{route[4]}}
          td {{route[5]}}
          td {{route[7]}}
          td {{route[8]}}
          td {{route[11]}}
          td {{route[12]}}
          td {{route[13]}}
                
