div.row-fluid
  div.span6
    form
      .btn-toolbar
        .btn-group(data-toggle="buttons-radio")
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Monday'" ) Mon
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Tuesday'")  Tue
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Wednesday'") Wed
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Thursday'") Thu
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Friday'") Fri
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Saturday'") Sat
          button.btn(type = "button", ng-model="dayButtons", btn-radio="'Sunday'") Sun

    div(ng-show="routeStats.length > 0")
      table.table.table-hover
        tr
          th Trip head sign
          th Average speed
          th Route length
          th Average headway
          th Std. Dev of headway
          th Hours of service
          th Service span
          th Stop spacing
        tr(ng-repeat='route in routeStats | filter:dayButtons')
          td {{route[9]}}
          td {{route[4]}}
          td {{route[5]}}
          td {{route[7]}}
          td {{route[8]}}
          td {{route[10]}}
          td {{route[11]}}
          td {{route[13]}}
                
