extends layout

block head
  link(rel='stylesheet', href='/css/agency.css')
  
block nav
  include partials/navagency
  

block body
  div(ng-controller = "AgencyCtrl")
      div.container-fluid(ng-init='init(#{agency})' )
        div.row-fluid
          div.span6
            table.table.table-hover
              tr
                th Route
              tr(ng-repeat=" route in routeUniqueResults | startFrom:currentPage*pageSize | limitTo:pageSize")
                td 
                  a(href='/{{agency.name}}/{{route.routeID}}'){{route.route_short_name}} {{route.route_long_name}}
            button.btn.btn-small(ng-show='routeUniqueResults.length > 0', ng-disabled="currentPage == 0", ng-click="currentPage=currentPage-1") Previous
            span(ng-show='routeUniqueResults.length > 0') &nbsp; {{currentPage+1}}/{{numberOfPages()}} &nbsp;
            button.btn.btn-small(ng-show='routeUniqueResults.length > 0', ng-disabled="currentPage >= routeUniqueResults.length/pageSize - 1", ng-click="currentPage=currentPage+1") Next
    
            div
        div.span6
          h3.navbar-inner Trips per day
          d-Bar(val='tripsPerDay').span6
        div.span6
          h3.navbar-inner Trips per time of day
          d-Barttd(val='tripsPerTime').span6
      div
        div.span6
          h3.navbar-inner Average Route Speed (mph)
          d-Hist(val='averageSpeed', xlab = "histLabel1").span6
        div.span6
          h3.navbar-inner Average Route Headway
          d-Hist(val='averageHeadway', xlab = 'histLabel2').span6
      
        

block scripts
  script(src='http://d3js.org/d3.v3.min.js')
  
