extends layout

block head
  link(rel='stylesheet', href='/css/agency.css')

block body
  div(ng-controller = "AgencyCtrl")
      div.container-fluid(ng-init='init(#{agency})' )
        div
          h4.navbar-inner.navbar-text Agency
            span.label.label-important {{stop}}
            &nbsp; | &nbsp;
            a(href='{{agency.website}}', target='_blank') {{agency.name}}
        div.row-fluid
          div.span6
            label Search for a {{agency.name}} stop
            div.form-search
              fieldset
                div
                  label
                    input#stopField(type='text', class='search-query', ng-model='stopSearch')
                div.search
                  a#stopSubmit.btn(href='{{agency.name}}/stop/{{stopSearch}}') Search
          div.span6
            label Search for a {{agency.name}} route
            div.form-search
              fieldset
                div
                  label
                    input#stopField(type='text', class='search-query', ng-model='routeSearch')
                div.search
                  a#stopSubmit.btn(href='{{agency.name}}/route/{{routeSearch}}') Search
      div
        div.span6
          h3.navbar-inner Trips per day
          d-Bar(val='tripsPerDay').span6
        div.span6
          h3.navbar-inner Trips per time of day
          d-Barttd(val='tripsPerTime').span6
      div
        div.span6
          h3.navbar-inner Average Route Speed (mph)
          d-Hist(val='averageSpeed').span6
        div.span6
          h3.navbar-inner Average Route Headway
          d-Hist(val='averageHeadway').span6
      
        

block scripts
  script(src='http://d3js.org/d3.v3.min.js')
  
