extends layout

block body
  div.span6
    h1 Project Cypress
    div
      h3
        a(href='marta/stop/797') Check out MARTA's Five Points Station 
      h3
        a(href='bart/stop/24TH') Check out BARTS's 24th St. Mission Station 
      h3
        a(href='cta/stop/1864') Check out CTA's Clark & Lake Station 
      h3
        a(href='septa-rail/stop/90001') SEPTA-Rail stop

    div
      p Project by:
      ul.unstyled
        li Aaron Gooze
        li <a href="http://www.twitter.com/mejackreed">Jack Reed</a>
        li Landon Reed
        li James Wong   
  div.span4
    label Search for a stop
    select#agencySelect.span3
      option MARTA
      option BART
      option CTA
    div.form-search()
      fieldset
        div
          label
            input#stopField(type='text', class='search-query span3')
        div.search
          button#stopSubmit.btn Search
  
block scripts
  script(src='js/index.js')
