!!! 5
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Project Cypress
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')

    block head
  body
    div.container-fluid
      block body