extends layout

block body
  div(ng-controller='RouteCtrl')(ng-init='init(#{agency},#{route})' )
    div.row-fluid
      .span12
        h2 The agency is #{name}, the route is {{routeResult.rows[0][2]}}
        div.navbar
          ul.nav.nav-pills#navi-tabs
            li.active
              a(href='#home', data-toggle='tab') Home
            li
              a(href='#service', data-toggle='tab') Service
            li
              a(href='#people', data-toggle='tab') People
            li
              a(href='#land', data-toggle='tab') Land Use
    div(id="myTabContent",class="tab-content")
      div#home.tab-pane.fade.in.active
        p this is the home 
        p some basic visualization will go here 
        p summary statistics 
        div
          p
      div#service.tab-pane.fade.in
        div.row-fluid
          div.span6
            table.table.table-hover
              tr
                th Stop Name
              tr(ng-Repeat=" stop in routeStopResult | startFrom:currentPage*pageSize | limitTo:pageSize")
                td 
                  a(href='/#{name}/stop/{{stop[1]}}'){{stop[0]}}
            button.btn.btn-small(ng-show='routeStopResult.length > 0', ng-disabled="currentPage == 0", ng-click="currentPage=currentPage-1") Previous
            span(ng-show='routeStopResult.length > 0') &nbsp; {{currentPage+1}}/{{numberOfPages()}} &nbsp;
            button.btn.btn-small(ng-show='routeStopResult.length > 0', ng-disabled="currentPage >= routeStopResult.length/pageSize - 1", ng-click="currentPage=currentPage+1") Next
            
           
          div.span6
            form
              label.select
                span Select Service Type
                select(ng-model='serviceSelect', ng-options="route[1] for route in routeStats['rows']", ng-change='updateChart()') 
                
              
  
            table.table.table-hover
              tr
                th Service ID
                th Length
                th Average Speed
                th Stop Spacing
                th Hours of Service/Span
                th Number of Trips
              tr(ng-repeat=" routeinfo in routeStats['rows'] | filter:serviceSelect")
                td {{routeinfo[1]}}
                td {{routeinfo[5]}}
                td {{routeinfo[4]}}
                td {{routeinfo[12]}}
                td {{routeinfo[10]}} / {{routeinfo[11]}}
                td {{routeinfo[6]}}

        div.row-fluid
          div.span12
            h3.navbar-inner Distribution of Trips over time
            div#activeTripsChart
            div.hc-pie(items='activeTrip')
            

          
      div#people.tab-pane.fade.in
        include partials/rpeople
      div#land.tab-pane.fade.in
        include partials/rland
      
     
block scripts
  script(src='/js/routes.js')
  script(src='http://code.highcharts.com/highcharts.js')
