extends layout

block head 
    link(rel='stylesheet', href='/css/route.css')

block nav
  include partials/navagency
  include partials/navroute
  

block body
  div(ng-init='init(#{agency}, "#{routeID}")' )
    
    div.row-fluid
        include partials/rservice
   
      
     
block scripts
  script(src='/js/routes.js')
  script(src='http://code.highcharts.com/highcharts.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script
    $('.tool').tooltip({
      container : 'body'  
    })

