extends layout

block head 
    link(rel='stylesheet', href='/css/route.css')


block body
  div(ng-controller='RouteCtrl')(ng-init='init(#{agency},#{route})' )
    div
        h4.navbar-inner.navbar-text Route ID 
          span.label.label-important {{route}}
          &nbsp; | &nbsp;
          {{routeResult[0][2]}}
          &nbsp; | &nbsp;
          a(href='{{agency.website}}', target='_blank') {{agency.name}}
          include partials/homenav

    
    div.row-fluid
        include partials/rservice
   
      
     
block scripts
  script(src='/js/routes.js')
  script(src='http://code.highcharts.com/highcharts.js')
  script(src='http://d3js.org/d3.v3.min.js')

