.bar rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}
rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}

.bar text {
	fill: #fff;
}

.axis path, .axis line {
	fill: none;
	stroke: #eee;
	stroke-width: 0.5;
	shape-rendering: crispEdges;
}

.tooltip {
	padding: 5px;
	background: rgba(255,255,255,1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
