/* app css stylesheet */
#map-canvas {
	height:300px;
	min-width:200px;
}
#restlist {
	height:250px;
	overflow:scroll;
}
#map-canvas img {
	max-width:none;
}
.chart {
	min-width:200px;
	height:300px;
	margin:0 auto;
}
