.axis path, .axis line {
	fill: none;
	stroke: #eee;
	stroke-width: 0;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.loading {
	font-family: sans-serif;
	font-size: 15px;
}

div.tooltip {
	/*position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;*/
	pointer-events: none;
}